/* cheesy Stuff Exclusive css */
p.cheesyStuffHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: left;
  padding-left: 2vh;
}

p.cheesyStuffMiddleTimeline1 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
}

th.cheesyStuff {
    text-align: center;
}

.cheesyStuffButton {
    border-color: #f6c09c;
    background-color: white;
    font-size: 28px;
    border-style: solid;
    border-width: thick;
    cursor: pointer;
}

.imageFrame {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 150px;
    max-height: 150px;
}

.dateDescription {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  border: black solid;
}

.emptyColumn {
    width: 50%;
}

.emptyMiddleColumn {
    width: 40px;
}

table.prevNextButtons {
    table-layout:fixed;
    width: 100%;
    font-family: 'Berkshire Swash',cursive;
    font-size: 28px;
    font-weight: 700;
    color: #f6c09c;
    padding-top: 200px;
}

h2 {
    cursor: pointer;
    font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.yearSelectorLeft {
    box-sizing: border-box;
    padding-left: 95%;
    margin-top: 6px;
}

.monthSelectorLeft {
    box-sizing: border-box;
    padding-left: 90%;
    margin-top: 6px;
}

.longMonthSelectorLeft {
    box-sizing: border-box;
    padding-left: 80%;
    margin-top: 6px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* Container around content */
.container {
  box-sizing: border-box;
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline plus */
.container::after {
  box-sizing: border-box;
  content: '+';
  padding-left: 8px;
  color: #F600B6;
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  width: 35px;
  right: -20px;
  background-color: white;
  border: 4px solid #800080;
  top: 12px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

/* The circles on the timeline minus */
.container.isOpen::after {
  box-sizing: border-box;
  content: '-';
  padding-left: 10px;
  color: #F600B6;
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  width: 35px;
  right: -20px;
  background-color: white;
  border: 4px solid #800080;
  top: 12px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

/* Container around content */
.containerSubMenu {
  box-sizing: border-box;
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* The small circles on the timeline plus */
.containerSubMenu::after {
  box-sizing: border-box;
  content: '+';
  padding-left: 7px;
  color: #F600B6;
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 18px;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  width: 30px;
  right: -18px;
  background-color: white;
  border: 4px solid #A200A2;
  top: 18px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

/* The small circles on the timeline minus */
.containerSubMenu.isOpenSub::after {
  box-sizing: border-box;
  content: '-';
  padding-left: 8px;
  color: #F600B6;
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 18px;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  width: 30px;
  right: -18px;
  background-color: white;
  border: 4px solid #A200A2;
  top: 18px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

/* Place the container to the left */
.left.accordionContainer {
  box-sizing: border-box;
  left: 5px;
  border: solid #7D1516;
  border-width: 0px 5px 0px 0px;
  z-index: 3;
}

.left.containerSubMenu {
  box-sizing: border-box;
  left: 5px;
  border: solid #A81C1C;
  border-width: 0px 5px 0px 0px;
  z-index: 3;
}

/* Place the container to the right */
.right {
  box-sizing: border-box;
  left: 50%;
  padding-left: 10px;
  padding-top: 2px;
}

.right {
  box-sizing: border-box;
  border: solid #7D1516;
  border-width: 0px 0px 0px 5px;
  z-index: 3;
}

.right.containerSubMenu {
  box-sizing: border-box;
  border: solid #A81C1C;
  border-width: 0px 0px 0px 5px;
  z-index: 3;
}

/* Fix the circle for containers on the right side */
.right::after {
  box-sizing: border-box;
  left: -19px;
}

.right.containerSubMenu::after {
  box-sizing: border-box;
  left: -17px;
}

/* The actual content */
.content {
  box-sizing: border-box;
  padding: 0px 30px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* The actual  of the subMenus */
.contentSubMenu {
  box-sizing: border-box;
  padding: 0px 30px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (min-width: 1700px) {
    .imageFrame{
        max-width: 200px;
        max-height: 200px;
    }
}

.mapContainer {
    padding-top: 20px;
    margin: auto;
}