/* cheesy Stuff Exclusive css */
p.cheesyStuffHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: left;
  padding-left: 2vh;
}

p.cheesyStuffMiddleTimeline1 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
}

th.cheesyStuff {
    text-align: center;
}

.cheesyStuffButton {
    border-color: #f6c09c;
    background-color: white;
    font-size: 28px;
    border-style: solid;
    border-width: thick;
    cursor: pointer;
}

div.cheesyStuffImageContainer{
 height:45vh;
 position: absolute;
}

.imageCheesyStuff {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.imageContainer {
    position: absolute;
    left: 250px;
}

.imageFrame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    max-height: 600px;
}

table.prevNextButtons {
    table-layout:fixed;
    width: 100%;
    font-family: 'Berkshire Swash',cursive;
    font-size: 28px;
    font-weight: 700;
    color: #f6c09c;
    padding-top: 300px;
}

@media screen and (min-width: 1700px) {

}


dl.stappen {
  display: block;
  margin: 50px 0 0;
}

dl.stappen .item {
  padding-left: 45px;
  position: relative;
}

dl.stappen .item:before {
  background: black;
  width: 3px;
  bottom: -10px;
  position: absolute;
  content: "";
  left: 8px;
  top: 8px;
}

dl.stappen .item:last-of-type:before {
  display: none;
}

dl.stappen .item dt {
  font-weight: 500;
  font-size: 21px;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
}

dl.stappen .item dt:first-of-type {
  margin-top: 0;
}

dl.stappen .item dt .round {
  position: absolute;
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: #eee;
  border: 3px solid black;
  border-radius: 10px;
  z-index: 100;
}

dl.stappen .item dd {
  font-size: 17px;
  line-height: 26px;
  position: relative;
  margin-left: 40px;
}

dl.stappen .item dd p {
  margin-bottom: 15px;
}

dl.stappen .item dd p:last-child {
  margin-bottom: 0;
}
