html{
  background-color: white;
  background-image: url("../pictures/background_header.png");
  background-repeat: no-repeat;
  background-size: 100% 33%;
}
h1 {
  color: white;
  background-color: black;
}
h2 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

p {
  color: black;
}
table {
    table-layout:fixed;
    width: 100%;
}

p.constructionTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 11%;
  text-align: left;
}

p.constructionBottom {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
}

th {
  background-color: black;
  color: white;
  text-align: center;
  border-width: thin;
}

td {
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
  visibility: hidden;
}