/*Global*/
html{
  background-color: white;
  background-image: url("../pictures/background_header.png");
  background-repeat: no-repeat;
  background-size: 100% 33%;
}

html, body {
  min-height:100%;
}

body{
  height:100vh;
}

p {
  color: black;
}

table {
    table-layout:fixed;
    width: 100%;
    font-size: 20px;
}

/*Main Exclusive css*/

p.mainDesktopTop1 {
  font-family: 'Berkshire Swash',cursive;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: center;
}

p.mainDesktopTop2 {
  font-family: 'Parisienne',cursive;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

p.mainDesktopTop3 {
  font-family: 'Berkshire Swash',cursive;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
}

p.mainMobileTop1 {
  font-family: 'Berkshire Swash',cursive;
  font-size: 80px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: center;
}

p.mainMobileTop2 {
  font-family: 'Parisienne',cursive;
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

p.mainMobileTop3 {
  font-family: 'Berkshire Swash',cursive;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
}

th.main {
  background-color: black;
  color: white;
  text-align: center;
  border-width: thin;
}

td.main {
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
  visibility: hidden;
}

div.mainMenuFrame {
    height:100vh;
}

div.mainMenuFrameMobile {
    height:50vh;
}

.imageCenteredMainMenu {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    height: 100%;
}

.imageCenteredMainMenuMobile {
    margin-left: auto;
    margin-right: auto;
    width: 49%;
    height: 100%;
}

p.mobileMenus {
    font-size: 20px;
}

p.mobileMenus:hover {
    background-color: #eb4034;
}

p.mobileSubMenus {
    font-size: 18px;
    padding-left: 8vh;
}

.mobileNavBar {
  width: 10%;
}

.mobileNavBarSection a {
  color: black;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  margin-bottom: 2vh;
}

.mobileNavBarSection a:hover {
  color: black;
}

/* UnderConstruction Exclusive css */

div.plumber {
    height:45vh;
}

.imageCenteredPlumber {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:100%;
}

p.constructionTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 30vh;
  text-align: left;
}

p.constructionTopFrench {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 31px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 30vh;
  text-align: left;
}

p.constructionBottom {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

p.constructionBottomFrench {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 31px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

/* contactUs Exclusive css */

p.contactHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 30vh;
  text-align: left;
}

p.contactTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 5vh;
  text-align: left;
}

p.contactBottom {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

div.contact {
    height:45vh;
}

.imageContact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:80%;
}

/* airplane Exclusive css */

p.airplaneHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 30vh;
  text-align: left;
  padding-left: 2vh;
}

p.airplaneTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  background-color: #f6c09c;
  margin: 2vh;
  padding: 2vh;
}

p.airplaneMiddle {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  margin: 2vh;
  padding: 2vh;
}

p.airplaneLink {
    text-align: right !important;
}

/*p.airplaneBottom {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  padding-top: 5vh;
  padding-bottom: 5vh;
}*/

th.airplane {
    text-align: center;
}

.airplaneButton {
    border-color: #f6c09c;
    background-color: white;
    font-size: 28px;
    border-style: solid;
    border-width: thick;
}

.imageAirplane {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:80%;
}