html{
  background-color: white;
  background-image: url("../pictures/background_header.png");
  background-repeat: no-repeat;
  background-size: 100% 33%;
}
html, body{min-height:100%;}
body{
height:100vh;
}
h2 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

p {
  color: black;
}
table {
    table-layout:fixed;
    width: 100%;
}

p.mainTop1 {
  font-family: 'Berkshire Swash',cursive;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: center;
}

p.mainTop2 {
  font-family: 'Parisienne',cursive;
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

p.mainTop3 {
  font-family: 'Berkshire Swash',cursive;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
}

p.constructionTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 30vh;
  text-align: left;
}

p.constructionBottom {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

th {
  background-color: black;
  color: white;
  text-align: center;
  border-width: thin;
}

td {
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
  visibility: hidden;
}

div.plumber {
    height:45vh;
}

div.mainMenuFrame {
    height:35vh;
}

.imageCenteredPlumber {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:100%;
}

.imageCenteredMainMenu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

.mobileNavBar {
  color: white;
  width: 10%;
}

.mobileNavBarSection a {
  color: black;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  margin-bottom: 2vh;
}

.mobileNavBarSection a:hover {
  background-color: #ddd;
  color: black;
}