/* present Exclusive css */
p.presentHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: left;
  padding-left: 2vh;
}

p.presentMiddle1 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 250px;
  left: 585px;
  z-index: 1;
  min-width: 250px;
}

p.presentMiddle3 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 320px;
  left: 585px;
  z-index: 1;
  min-width: 250px;
}

p.presentMiddle1Spanish {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 220px;
  left: 580px;
  z-index: 1;
  min-width: 275px;
}

p.presentMiddle3Spanish {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 370px;
  left: 585px;
  z-index: 1;
  min-width: 250px;
}

p.presentMiddle1Mobile {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 230px;
  left: 355px;
  z-index: 1;
  min-width: 200px;
}

p.presentMiddle1MobileFrench {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 210px;
  left: 355px;
  z-index: 1;
  min-width: 200px;
}

p.presentMiddle3Mobile {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 305px;
  left: 350px;
  z-index: 1;
  min-width: 225px;
}

p.presentMiddle1MobileSpanish {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 200px;
  left: 335px;
  z-index: 1;
  min-width: 250px;
}

p.presentMiddle3MobileSpanish {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 325px;
  left: 350px;
  z-index: 1;
  min-width: 225px;
}

div.presentImageContainer{
 height:45vh;
 position: absolute;
}

.imageContainer {
    position: absolute;
    left: 250px;
}

.imageContainerMobile {
    position: absolute;
    left: 50px;
}

.imageFrame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    max-height: 600px;
}

.imageFrameMobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    max-height: 600px;
}

table.prevNextButtonsDefault {
    table-layout:fixed;
    width: 100%;
    font-family: 'Berkshire Swash',cursive;
    font-size: 28px;
    font-weight: 700;
    color: #f6c09c;
    padding-top: 300px;
}

table.prevNextButtonsPresent {
    table-layout:fixed;
    width: 100%;
    font-family: 'Berkshire Swash',cursive;
    font-size: 28px;
    font-weight: 700;
    color: #f6c09c;
    padding-top: 600px;
}

@media screen and (min-width: 1700px) {
    .imageContainer {
        position: absolute;
        left: 500px;
    }

    p.presentMiddle1 {
      top: 260px;
      left: 840px;
    }

    p.presentMiddle3 {
      top: 340px;
      left: 835px;
    }

    p.presentMiddle1Spanish {
      top: 220px;
      left: 830px;
    }

    p.presentMiddle3Spanish {
      top: 365px;
      left: 835px;
    }
}
