/* contactUs Exclusive css */
p.contactHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: left;
}

p.contactTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 5vh;
  text-align: left;
}

p.contactBottom {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

div.contact {
    height:45vh;
}

.imageContact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:80%;
}

table.prevNextButtons {
    table-layout: fixed;
    width: 100%;
    font-family: 'Berkshire Swash',cursive;
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    color: #f6c09c;
}