/* bachelorette Exclusive css */
.imageBachelorette {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:90%;
}

.imageBacheloretteMobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.bacheloretteHeader {
    font-family: 'Parisienne',cursive;
    font-size: 56px;
    font-style: normal;
    font-variant: normal
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    padding-top: 30vh;
    text-align: center;
    color: #cc0066;
}

.bacheloretteForm {
    display: inline-block;
    margin-left: 35%;
    margin-right: 10%;
}

.bacheloretteForm2 {
    display: inline-block;
}

.bacheloretteSubmissionButton {
    padding: 20px 60px;
    background-color: #cc0066;
    color: white;
    border-radius: 16px;
    font-size: 32px;
}

.bacheloretteFormMobile {
    display: inline-block;
    margin-left: 30%;
    margin-right: 10%;
}

.bacheloretteSubmissionButtonMobile {
    padding: 20px 60px;
    background-color: #cc0066;
    color: white;
    border-radius: 16px;
    font-size: 32px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalMobile{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 90%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modalText {
    text-align: center;
    font-size: 32px;
}

/* The Close Button */
.close {
    margin-left: 10%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* UnderConstruction Exclusive css */

div.plumber {
    height:45vh;
}

.imageCenteredPlumber {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:100%;
}

p.constructionTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 30vh;
  text-align: left;
}

p.constructionTopFrench {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 31px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 30vh;
  text-align: left;
}

p.constructionBottom {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

p.constructionBottomFrench {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 31px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
