/* team bachelorette Exclusive css */
div.teamBacheloretteWheel{
 height:45vh;
 position: absolute;
}

p.teamBacheloretteHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 30vh;
  text-align: left;
}

p.teamBacheloretteTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 2vh;
  text-align: left;
}

p.teamBacheloretteBottom {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
  padding-top: 80vh;
  padding-bottom: 5vh;
}

p.teamBacheloretteBottomMobile {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
  padding-top: 55vh;
}

.teamBachelorette-main {
  position: absolute;
  top: 230px;
  left: 720px;
  z-index: 2;
  height: 90%;
}

.teamBachelorette-main-mobile {
  position: absolute;
  top: 200px;
  left: 335px;
  z-index: 2;
  height: 50%;
}

.teamBachelorette-centered-1 {
  position: absolute;
  top: -10px;
  left: 614px;
  transform: rotate(2deg);
}

.teamBachelorette-centered-2 {
  position: absolute;
  top: 0px;
  left: 842px;
  transform: rotate(1.8deg);
}

.teamBachelorette-centered-3 {
  position: absolute;
  top: 99px;
  left: 932px;
  transform: rotate(38.4deg);
}

.teamBachelorette-centered-4 {
  position: absolute;
  top: 235.5px;
  left: 946px;
  transform: rotate(74.5deg);
}

.teamBachelorette-centered-5 {
  position: absolute;
  top: 353px;
  left: 879px;
  transform: rotate(110.1deg);
}

.teamBachelorette-centered-6 {
  position: absolute;
  top: 409px;
  left: 754px;
  transform: rotate(146deg);
}

.teamBachelorette-centered-7 {
  position: absolute;
  top: 383px;
  left: 619px;
  transform: rotate(182deg);
}

.teamBachelorette-centered-8 {
  position: absolute;
  top: 280px;
  left: 528px;
  transform: rotate(218deg);
}

.teamBachelorette-centered-9 {
  position: absolute;
  top: 143px;
  left: 513px;
  transform: rotate(254deg);
  mix-blend-mode: multiply;
  z-index: 1;
}

.teamBachelorette-centered-10 {
  position: absolute;
  top: 26px;
  left: 584px;
  transform: rotate(290deg);
  mix-blend-mode: multiply;
}

.teamBachelorette-color-1 {
    background-color: #500066;
}

.teamBachelorette-color-2 {
    background-color: #5b0165;
}

.teamBachelorette-color-3 {
    background-color: #660057;
}

.teamBachelorette-color-4 {
    background-color: #660049;
}

.teamBachelorette-color-5 {
    background-color: #660035;
}

.teamBachelorette-color-6 {
    background-color: #660018;
}

.teamBachelorette-color-7 {
    background-color: #660000;
}

.teamBachelorette-color-8 {
    background-color: #7e0000;
}

.teamBachelorette-color-9 {
    background-color: #a80000;
}

.teamBachelorette-color-10 {
    background-color: #ee0000;
}

.teamBachelorette-centered-mobile-1 {
  position: absolute;
  top: 0px;
  left: 169px;
  transform: rotate(2deg);
}

.teamBachelorette-centered-mobile-2 {
  position: absolute;
  top: 9px;
  left: 390px;
  transform: rotate(1.8deg);
}

.teamBachelorette-centered-mobile-3 {
  position: absolute;
  top: 112px;
  left: 480px;
  transform: rotate(38.4deg);
}

.teamBachelorette-centered-mobile-4 {
  position: absolute;
  top: 248.5px;
  left: 488px;
  transform: rotate(74.5deg);
}

.teamBachelorette-centered-mobile-5 {
  position: absolute;
  top: 364px;
  left: 415px;
  transform: rotate(110.1deg);
}

.teamBachelorette-centered-mobile-6 {
  position: absolute;
  top: 415px;
  left: 288px;
  transform: rotate(146deg);
}

.teamBachelorette-centered-mobile-7 {
  position: absolute;
  top: 380px;
  left: 156px;
  transform: rotate(182deg);
}

.teamBachelorette-centered-mobile-8 {
  position: absolute;
  top: 275px;
  left: 69px;
  transform: rotate(218deg);
}

.teamBachelorette-centered-mobile-9 {
  position: absolute;
  top: 138px;
  left: 60px;
  transform: rotate(254deg);
  mix-blend-mode: multiply;
  z-index: 1;
}

.teamBachelorette-centered-mobile-10 {
  position: absolute;
  top: 22px;
  left: 134px;
  transform: rotate(290deg);
  mix-blend-mode: multiply;
}

.imageTeamBachelorette {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:80%;
}

.teamBachelorette-text-1 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 720px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-2 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 110px;
  left: 540px;
  color: white;
  z-index: 2;
  text-decoration: underline;
}

.teamBachelorette-text-3 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 280px;
  left: 470px;
  z-index: 2;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-4 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 490px;
  left: 510px;
  z-index: 1;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-5 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 615px;
  left: 680px;
  z-index: 1;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-6 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 635px;
  left: 880px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-7 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 490px;
  left: 990px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-8 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 340px;
  left: 1110px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-9 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 130px;
  left: 1080px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-10 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 910px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-mobile-1 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 335px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-mobile-2 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 110px;
  left: 160px;
  color: white;
  z-index: 2;
  text-decoration: underline;
}

.teamBachelorette-text-mobile-3 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 300px;
  left: 90px;
  z-index: 2;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-mobile-4 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 500px;
  left: 140px;
  z-index: 1;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-mobile-5 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 620px;
  left: 320px;
  z-index: 1;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-mobile-6 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 650px;
  left: 520px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-mobile-7 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 510px;
  left: 620px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-mobile-8 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 350px;
  left: 750px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-mobile-9 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 130px;
  left: 700px;
  color: white;
  text-decoration: underline;
}

.teamBachelorette-text-mobile-10 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 540px;
  color: white;
  text-decoration: underline;
}

table.prevNextButtonsBachelorette {
    table-layout:fixed;
    width: 100%;
    font-family: 'Berkshire Swash',cursive;
    font-size: 28px;
    font-weight: 700;
    color: #f6c09c;
}

.teamBachelorette-card-centered {
  height: 350px;
  width: 400px;
  background-color: blue;
  top: 190px;
  left: 644px;
  position: absolute;
  z-index: 4;
}

.teamBachelorette-card-centered-mobile {
  height: 350px;
  width: 400px;
  background-color: blue;
  top: 185px;
  left: 270px;
  position: absolute;
  z-index: 4;
}

.imageTeamBacheloretteCard {
 display: block;
 margin-left: auto;
 margin-right: auto;
 height:65%;
 top: 55px;
 left: 90px;
 position: absolute;
}

.imageTeamBacheloretteCardMobile {
 display: block;
 margin-left: auto;
 margin-right: auto;
 height:65%;
 top: 55px;
 left: 90px;
 position: absolute;
}

.teamBachelorette-card-text-title {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  top: 0px;
  left: 100px;
  color: white;
  margin: 5px;
}

.teamBachelorette-card-text-title-mobile {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  top: 0px;
  left: 100px;
  color: white;
  margin: 5px;
}

.teamBachelorette-card-text-link {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 300px;
  left: 130px;
  color: white;
  margin: 5px;
  text-decoration: underline;
}

.teamBachelorette-card-text-link-mobile {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 300px;
  left: 130px;
  color: white;
  margin: 5px;
  text-decoration: underline;
}