/* meet couple Exclusive css */
p.meetCoupleHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: left;
  padding-left: 2vh;
  color: #F600B6;
}

p.meetCoupleHeaderNico {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: left;
  padding-left: 15vh;
  color: #C00000;
  padding-bottom: 5vh;
}

p.meetCoupleHeaderFanny {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: left;
  padding-left: 15vh;
  color: #800080;
  padding-bottom: 5vh;
}

p.meetCoupleBottom {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
  float: right;
  padding-right: 20vh;
}

p.meetCoupleBottomMobile {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
  padding-top: 15vh;
}

.mainImagesContainer {
    text-align: center;
    padding-bottom: 40vh;
}

.imageMainLeft, .tempImageMainLeft {
    height: 40vh;
    width: 40vh;
    margin-left: 15vh;
    margin-right: 15vh;
    cursor: pointer;
    position: relative;
}

.imageMainRight, .tempImageMainRight {
    height: 40vh;
    width: 40vh;
    margin-right: 15vh;
    margin-left: 15vh;
    cursor: pointer;
    position: relative;
 }

 .imageLeftContainer {
     float: left;
     text-align: left;
     width: 50%;

}

.imageRightContainer {
     float: left;
     text-align: right;
     width: 50%;
}

.imageDescriptionRight {
    width: 30vh;
    height: 30vh;
    float: right;
    padding-right: 2vh;
    margin-left: 20px;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.imageDescriptionLeft {
    width: 30vh;
    height: 30vh;
    float: left;
    padding-left: 2vh;
    margin-right: 20px;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

.descriptionRight {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 40.4px;
  text-align: left;
  padding-left: 5vh;
  color: white;
}

.descriptionLeft {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 40.4px;
  text-align: left;
  padding-top: 1vh;
  padding-right: 5vh;
  color: white;
  margin-left: 2vh;
}

.nicoAboutNico {
    background-color: #000000;
}

.nicoAboutFanny {
    background-color: #C00000;
}

.fannyAboutNico {
    background-color: #800080;
}

.fannyAboutFanny {
    background-color: #F600B6;
}

td.returnButtons {
    text-align: left;
    padding-left: 2vh;
}

.imageReturnPage {
    padding-right: 1vh;
    vertical-align: middle;
    cursor: pointer;
}

.return {
    color: #551a8b;
    text-decoration: underline;
    cursor: pointer;
}

.returnTable {
    margin-top: 0 !important;
}