/* whatToDo Exclusive css */

div.whatToDoSpacer {
    padding-top: 5vh;
}

p.whatToDoHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: left;
  padding-left: 2vh;
}

p.whatToDoTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  background-color: #f6c09c;
  margin: 2vh;
  padding: 2vh;
}

.foodSubMenu {
    display: none;
}

p.whatToDoMiddle {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  margin: 2vh;
  padding-top: 2vh;
}

p.whatToDoLink {
    font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    margin: 2vh;
    padding-right: 2vh;
    text-align: right !important;
}

th.whatToDo {
    text-align: center;
}

.whatToDoButton {
    border-color: #f6c09c;
    background-color: white;
    font-size: 28px;
    border-style: solid;
    border-width: thick;
    cursor: pointer;
}

.imageWhatToDo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.imageDescriptionLeftWhatToDo {
    display: block;
    margin-right: auto;
    margin-left: 1%;
    padding-right: 10%;
    padding-left: 3%;
    width: 90%;
}

.imageDescriptionRightWhatToDo {
    display: block;
    margin-left: auto;
    margin-left: 1%;
    padding-left: 10%;
    padding-right: 6%;
    width: 90%
}

.hugeImageDescriptionLeftWhatToDo{
    display: block;
    margin-right: auto;
    margin-left: 1%;
    padding-right: 10%;
    padding-left: 3%;
    width: 90%
}

.hugeImageDescriptionRightWhatToDo{
    display: block;
    margin-right: auto;
    margin-right: 1%;
    padding-right: 6%;
    padding-left: 10%;
    width: 90%
}

.imageDualDescriptionLeftWhatToDo {
    display: block;
    margin-right: auto;
    margin-left: 1%;
    padding-left: 5%;
    width: 90%;
}

.hugeImageDualDescriptionLeftWhatToDo{
    display: block;
    margin-right: auto;
    margin-left: 1%;
    padding-right: 10%;
    padding-left: 10%;
    width: 90%;
}

.divDescription{
    background: #F6C09C;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
}

.description {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 40.4px;
  text-align: left;
  padding-right: 3%;
  padding-left: 3%;
  margin: 1%;
}

.descriptionTr {
    padding-top: 1%;
}

.imageDualTd {
    width: 30%;
}

.imageTd {
    width: 50%;
}

.imageTdHalf {
    width: 50%;
}

.descriptionTd {
    background: white;
    margin-top: 1%;
}

.tableRight {
    padding-left: 1.5%;
}

@media screen and (min-width: 1000px) {
    .tableRight {
        padding-left: 2.5%;
    }

    .whatToDoLink {
       font-size: 32px !important;
    }

    .whatToDoMiddle {
       font-size: 32px !important;
    }

    .imageTd {
        width: 35%;
    }

    .divDescription {
        width: 75%;
        margin-left: 12.5%;
        margin-right: 9.5%;
    }

    .description {
        font-size: 32px;
    }

    .imageDualTd {
        width: 20%;
    }

    .imageTd > .imageDescriptionLeftWhatToDo {
        padding-left: 6%;
        width: 90%;
    }

    .imageTdHalf > .imageDescriptionLeftWhatToDo {
        padding-left: 4%;
        width: 90%;
    }

    .imageDescriptionRightWhatToDo {
        width: 90%;
        padding-left: 9%;
    }

    .hugeImageDualDescriptionLeftWhatToDo{
        padding-left: 12%;
        width: 90%
    }

    .hugeImageDescriptionRightWhatToDo{
        padding-left: 10%;
        width: 90%
    }

    .imageDualDescriptionLeftWhatToDo {
        padding-right: 10%;
        padding-left: 12%;
        width: 90%
    }


     .imageTd > .hugeImageDescriptionLeftWhatToDo{
        padding-left: 6%;
        width: 90%
    }

    .imageTdHalf > .hugeImageDescriptionLeftWhatToDo{
        padding-left: 4% !important;
        width: 90%
    }
}