/* whatToDo Exclusive css */

div.whatToDoSpacer {
    padding-top: 5vh;
}

p.whatToDoHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: left;
  padding-left: 2vh;
}

p.whatToDoTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  background-color: #f6c09c;
  margin: 2vh;
  padding: 2vh;
}

.foodSubMenu {
    display: none;
}

p.whatToDoMiddle {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  margin: 2vh;
  padding-top: 2vh;
}

p.whatToDoMiddleMobile {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  margin: 2vh;
  padding: 2vh;
}

p.whatToDoLink {
    font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    margin: 2vh;
    padding-right: 2vh;
    text-align: right !important;
}

    @media screen and (min-width: 1000px) {
        .whatToDoLink {
           font-size: 28px !important;
        }
        .whatToDoMiddle {
           font-size: 28px !important;
        }
    }

th.whatToDo {
    text-align: center;
}

.whatToDoButton {
    border-color: #f6c09c;
    background-color: white;
    font-size: 28px;
    border-style: solid;
    border-width: thick;
    cursor: pointer;
}

.whatToDoButtonMobile {
    border-color: #f6c09c;
    background-color: white;
    font-size: 36px;
    font-weight: 700;
    border-style: solid;
    border-width: thick;
    margin-left: 2vh;
    height: 5vh;
}

.imageWhatToDo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.imageWhatToDoMobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45vh;
}