/* party Exclusive css */
p.partyHeader {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 25vh;
  text-align: left;
  padding-left: 2vh;
}

p.partyTop {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  text-align: left;
  background-color: #f6c09c;
  margin: 2vh;
  padding: 2vh;
}

p.partyMiddleToronto1 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 210px;
  left: 590px;
  z-index: 1;
  min-width: 250px;
}

p.partyMiddleToronto3 {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 360px;
  left: 585px;
  z-index: 1;
  min-width: 250px;
}

p.partyMiddleToronto1Spanish {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 185px;
  left: 610px;
  z-index: 1;
  min-width: 200px;
}

p.partyMiddleToronto3Spanish {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 370px;
  left: 585px;
  z-index: 1;
  min-width: 250px;
}

p.partyMiddleToronto1Mobile {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  white-space: nowrap;
  position: absolute;
  top: 190px;
  left: 355px;
  z-index: 1;
}

p.partyMiddleToronto3Mobile {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 325px;
  left: 350px;
  z-index: 1;
  min-width: 225px;
}

p.partyMiddleToronto1MobileSpanish {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 170px;
  left: 385px;
  z-index: 1;
  min-width: 150px;
}

p.partyMiddleToronto3MobileSpanish {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: absolute;
  top: 325px;
  left: 350px;
  z-index: 1;
  min-width: 225px;
}

p.partyMiddleMexico {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  white-space: nowrap;
  position: absolute;
  top: 300px;
  left: 635px;
  z-index: 1;
}

p.partyMiddleMexicoMobile {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  white-space: nowrap;
  position: absolute;
  top: 280px;
  left: 390px;
  z-index: 1;
}

p.partyMiddleMexicoSpanish {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  white-space: nowrap;
  position: absolute;
  top: 300px;
  left: 585px;
  z-index: 1;
}

p.partyMiddleMexicoMobileSpanish {
  font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  white-space: nowrap;
  position: absolute;
  top: 280px;
  left: 350px;
  z-index: 1;
}

th.party {
    text-align: center;
}

.partyButton {
    border-color: #f6c09c;
    background-color: white;
    font-size: 28px;
    border-style: solid;
    border-width: thick;
    cursor: pointer;
}

div.partyImageContainer{
 height:45vh;
 position: absolute;
}

.imageparty {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.imageContainer {
    position: absolute;
    left: 250px;
}

.imageContainerMobile {
    position: absolute;
    left: 50px;
}

.imageFrame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    max-height: 600px;
}

.imageFrameMobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    max-height: 600px;
}

table.prevNextButtonsDefault {
    table-layout:fixed;
    width: 100%;
    font-family: 'Berkshire Swash',cursive;
    font-size: 28px;
    font-weight: 700;
    color: #f6c09c;
    padding-top: 300px;
}

table.prevNextButtonsParty {
    table-layout:fixed;
    width: 100%;
    font-family: 'Berkshire Swash',cursive;
    font-size: 28px;
    font-weight: 700;
    color: #f6c09c;
    padding-top: 600px;
}

@media screen and (min-width: 1700px) {
    .imageContainer {
        position: absolute;
        left: 500px;
    }

    p.partyMiddleToronto1 {
      top: 230px;
      left: 840px;
    }

    p.partyMiddleToronto3 {
      top: 360px;
      left: 835px;
    }

    p.partyMiddleToronto1Spanish {
      top: 190px;
      left: 860px;
    }

    p.partyMiddleToronto3Spanish {
      top: 365px;
      left: 835px;
    }

    p.partyMiddleMexico {
      top: 300px;
      left: 885px;
    }

    p.partyMiddleMexicoSpanish {
      top: 300px;
      left: 825px;
    }
}
